# 1. Print numbers from **1 to 10** using a for loop.

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
2. Print all **even numbers** from 1 to 50.

In [5]:
for i in range(2,50,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
3. Print all **odd numbers** from 1 to 50.

In [6]:
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
4. Print the **multiplication table** of a number (e.g., 5).

In [ ]:
5. Print the **square** of numbers from 1 to 10.

In [ ]:
6. Print numbers in **reverse order** from 10 to 1.

In [ ]:
7. Take 5 numbers as input and print them using a for loop.

In [ ]:
8. Print each character of a string using a for loop.

In [ ]:
9. Count how many **vowels** are in a string.

In [ ]:
10. Count how many **digits** are present in a string.

In [ ]:
11. Calculate the **sum** of numbers from 1 to N.

In [ ]:
12. Calculate the **product** (multiplication) of numbers from 1 to N.

In [ ]:
13. Print the elements of a list one by one.

In [ ]:
14. Find the **maximum** number in a list using a for loop.

In [ ]:
15. Find the **minimum** number in a list using a for loop.
termediate Level (16–35)**

In [ ]:
16. Print all elements of a list in **reverse order** using a for loop.

In [ ]:
17. Count how many times a specific element appears in a list.

In [ ]:
18. Print only the **positive numbers** from a list.

In [ ]:
19. Print only the **negative numbers** from a list.

In [ ]:
20. Count how many numbers in a list are **even**.

In [ ]:
21. Count how many numbers in a list are **odd**.

In [ ]:
22. Find the **sum of all elements** in a list without using `sum()`.

In [ ]:
23. Print the **index** and **value** of each list element.

In [ ]:
24. Print all words in a sentence on separate lines.

In [ ]:
25. Print the **ASCII value** of characters from A to Z.

In [ ]:
26. Print the **factorial** of a number using a for loop.

In [ ]:
27. Print the **Fibonacci series** (first N numbers).

In [ ]:
28. Count **uppercase letters** in a string.

In [ ]:
29. Count **lowercase letters** in a string.

In [ ]:
30. Reverse a string using a for loop.

In [ ]:
31. Print the **sum of digits** of a number (e.g., 123 → 6).

In [ ]:
32. Print the **largest digit** in a number (e.g., 587 → 8).

In [ ]:
33. Print the **smallest digit** in a number.

In [ ]:
34. Count how many digits are in a number using a loop.

In [ ]:
35. Check if a string is **palindrome** using a for loop.

In [ ]:
36. Print a **square** of stars (n × n).

In [ ]:
37. Print a **right triangle** of stars.

In [ ]:
38. Print an **inverted triangle** of stars.

In [ ]:
39. Print a **pyramid** pattern.

In [ ]:
40. Print an **inverted pyramid**.

In [ ]:
41. Print numbers in a **triangle** pattern:

    ```
    1
    12
    123
    1234
    ```

In [ ]:
42. Print **Floyd’s Triangle**.

In [ ]:
43. Print a **diamond pattern** using stars.

In [ ]:
44. Print letters in a pattern:

    ```
    A
    AB
    ABC
    ```

In [ ]:
45. Print a pattern of odd numbers:

    ```
    1
    3 5
    7 9 11
    ```

In [ ]:
46. Find the **second largest** element in a list using a for loop.

In [ ]:
47. Remove **duplicates** from a list using a for loop.

In [ ]:
48. Merge two lists into one using a for loop.

In [ ]:
49. Create a **frequency dictionary** of characters in a string using a loop.

In [ ]:
50. Count how many **prime numbers** are in a list.